{% extends 'base.html' %}

{% block title %}

{% endblock %}


{% block content %}
<p class="container">
    <br>
    <br>
    <center><h2><p class="text-warning bg-dark">SemYU</p></h2></center>
    <br>
    <br>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
</br>
{% endblock %}


{% block content_footer %}

{% endblock %}